section.advantage
  .container
    h2.advantage__title Ваше преимущество
    .advantage__items
      .advantage__items-first
        .features
          .features__info.first
            span.features__info-title Бонусы от автосалона
            p.features__info-text При покупке автомобиля дополнительные бонусы на сумму до 6000 руб.
        .features
          .features__info.second
            span.features__info-title Выгодный кредит
            p.features__info-text При покупке автомобиля в кредит, мы предоставляем дополнительную скидку.
        .features
          .features__info.third
            span.features__info-title Рассрочка 0%
            p.features__info-text Эксклюзивная программа рассрочки
        .features
          .features__info.fourth
            span.features__info-title  Trade-in c выгодой до 100 000 руб.
            p.features__info-text В нашем салоне вы выгодно обменяете свой автомобиль
      .advantage__items-second
        img(src="img/" + advantageImgPath alt="" class="" + imgClass)
    .price
      .price__items
        .price__items-first
          .price__info
            span.price__info-title #{title}
            span.price__info-equipment City
            span.price__info-start от 1 118 500 Руб
            span.price__info-time до 30.05.2019
            p.price__info-text 1.5, бензиновый с распределенным  впрыском и турбонаддувом, 4 WD, 6M
        .price__items-second
          .price__info
            span.price__info-title #{title}
            span.price__info-equipment Lux
            span.price__info-start от 1 229 500 Руб
            span.price__info-time до 30.05.2019
            p.price__info-text 1.5, бензиновый с распределенным впрыском  и турбонаддувом, 2 или 4WD, 6MT или 6AT
        .price__items-third
          .price__info
            span.price__info-title #{title}
            span.price__info-equipment Elite
            span.price__info-start от 1 280 400 Руб
            span.price__info-time до 30.05.2019
            p.price__info-text 1.5, бензиновый с распределенным впрыском  и турбонаддувом, 2 или 4WD, 6MT или 6AT
        .price__items-fourth
          .price__btn
            span Персональное предложение
          .price__btn
            span +7 (499) 490 93 80
          .price__btn
            span Расчитать кредит