section.car-info
  .container
    .car-content
      .car-content__items
        .feature
        .car-content__items-first
          .car-content__title #{title}
        .car-content__items-second
          .car-content__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto totam, voluptate adipisci corporis praesentium molestiae corrupti quidem perspiciatis nam rerum. Illum perspiciatis ipsa aliquam? Voluptatem, natus possimus. Nemo saepe provident beatae dolorem exercitationem. Saepe a assumenda vitae quisquam ullam rem ut quia incidunt quos nam culpa modi neque, excepturi amet quidem laboriosam sequi deserunt. Quos at ad excepturi quidem dolorem, consequuntur cupiditate fugit possimus dolores corrupti ipsam voluptate laboriosam ex a repudiandae molestias totam obcaecati.
        .car-content__items-third
          .car-content__img
            img(src="img/" + contentImgPath alt="" class="" + contentImgClass)
    .car-specific
      .car-specific__item.first
        .car-specific__item-value
          span.large 4WD
        .car-specific__item-label Разгон до 100км/час
      .car-specific__item.second
        .car-specific__item-value
          span.large 240
          span.small Нм
        .car-specific__item-label Крутящий момент
      .car-specific__item.third
        .car-specific__item-value
          span.large 150
          span.small л.с
        .car-specific__item-label Turbo двигатель
      .car-specific__item.fourth
        .car-specific__item-value
          span.large 180
          span.small мм
        .car-specific__item-label Клиренс