section.car-slider
  .container
    .glide
      div(data-glide-el="track").glide__track
        ul.glide__slides
          li.car-slider__slide
            .car-slider__img-first
              img(src="img/slider-img-1.png" alt="")
            .car-slider__img-second
              img(src="img/slider-img-2.png" alt="")
            .car-slider__img-third
              img(src="img/slider-img-3.png" alt="")
            .car-slider__info
              .car-slider__info-title Базовая версия Lux
              .car-slider__info-subtitle оборудована
              .car-slider__info-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, quam a quibusdam earum error eius vero corporis perferendis dolorem ab ad ea explicabo dolore libero mollitia, ratione voluptatum nostrum eos placeat necessitatibus repudiandae porro provident quos. Ullam rerum voluptate blanditiis iure quis vero architecto sit magni veritatis est non, quisquam libero asperiores dolore labore quaerat itaque molestiae at minus, nihil illum aliquid consectetur qui nisi! Magni maiores dolor atque eum enim unde perferendis? Impedit dolores dolorem ipsa repellendus, natus aut expedita exercitationem quis saepe molestias consequatur commodi, voluptatem, dolorum eveniet. Voluptas rem, tempore voluptates odio quae laudantium quia aperiam sed.
          li.car-slider__slide
            .car-slider__img-first
              img(src="img/slider-img-1.png" alt="")
            .car-slider__img-second
              img(src="img/slider-img-2.png" alt="")
            .car-slider__img-third
              img(src="img/slider-img-3.png" alt="")
            .car-slider__info
              .car-slider__info-title Базовая версия Lux
              .car-slider__info-subtitle оборудована
              .car-slider__info-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, quam a quibusdam earum error eius vero corporis perferendis dolorem ab ad ea explicabo dolore libero mollitia, ratione voluptatum nostrum eos placeat necessitatibus repudiandae porro provident quos. Ullam rerum voluptate blanditiis iure quis vero architecto sit magni veritatis est non, quisquam libero asperiores dolore labore quaerat itaque molestiae at minus, nihil illum aliquid consectetur qui nisi! Magni maiores dolor atque eum enim unde perferendis? Impedit dolores dolorem ipsa repellendus, natus aut expedita exercitationem quis saepe molestias consequatur commodi, voluptatem, dolorum eveniet. Voluptas rem, tempore voluptates odio quae laudantium quia aperiam sed.
      div(data-glide-el="controls").glide__arrows
        div(data-glide-dir="<").glide__arrow.glide__arrow--left
          +icon('slider-prev', '52px', '103px')
        div(data-glide-dir=">").glide__arrow.glide__arrow--right
          +icon('slider-next', '52px', '103px')