section.cheaper
  .container
    .cheaper__items
      .cheaper__items-first
        h2.cheaper__title Нашли дешевле?
        p.cheaper__text Сообщите нам и мы гарантируем лучшее предложени
      .cheaper__items-second
        form.cheaper__form
          input(type="text" placeholder="Ваше имя" class="cheaper__input")
          input(type="tel" placeholder="Ваш телефон" class="cheaper__input")
          button.cheaper__btn Отправить
