footer.main-footer#contacts
  .container
    .main-footer__items
      .main-footer__items-first
        .main-footer__title Контакты
      .main-footer__items-second
        .main-footer__dealer
          +icon('town', '20px', '20px')
          span Официальный дилер HAVAL - Флайт Авто
      .main-footer__items-third
        .main-footer__location
          +icon('location', '30px', '30px')
          span Москва, Коммерческий пр, д. 8с1
        .main-footer__phone
          a(href="tel:+74993703115")
            +icon('phone', '20px', '20px')
            span +7(499) 370 31 15
      .main-footer__items-fourth
        button.main-footer__btn Позвонить