header.main-menu
  .main-menu__icon
    .main-menu__icon-line
    .main-menu__icon-line
    .main-menu__icon-line
  img(src="img/logo.png" alt="").main-menu__logo
  .main-menu__info
    .main-menu__info-loc г. Москва, МКАД 14 КМ, Коммерческий пр-д, д. 8, с. 1
    a(href="tel:+74994909380").main-menu__info-tel
      +icon('phone', '25px', '25px')
      span +7 (499) 490 93 80
section.main-header
  .container
    .main-info
      .main-info__heading Флайт Авто
      .main-info__subheading Безусловные преимущества официального дилера HAVAL
      .main-info__slogan
        span Стань первым
        span В погоне за выгодой
      .main-info__request
        button.main-info__btn
          span Оставить заявку
        span.main-info__price до 200 000 руб.*
  nav.main-nav
    ul.main-nav__list
      li.main-nav__list-item
        a(href="haval-h2.html") Haval H2
      li.main-nav__list-item
        a(href="haval-h6.html") Haval H6
      li.main-nav__list-item
        a(href="haval-h9.html") Haval H9
      li.main-nav__list-item
        a(href="haval-f7.html") Haval F7
      li.main-nav__list-item
        a(href="#") Сервис
      li.main-nav__list-item
        a(href="#") Контакты
