section.location
  .location__map
  .location__feature
  .container
    .location__form
      .location__form-search
        +icon('search', '45px', '45px')
        input(type="search" placeholder="Ваш адрес")
      button.location__btn Проложить маршрут