.mob-menu
  ul.mob-menu__list
    li.mob-menu__list-item
      a(href="haval-h2.html") Haval H2
    li.mob-menu__list-item
      a(href="haval-h6.html") Haval H6
    li.mob-menu__list-item
      a(href="haval-h9.html") Haval H9
    li.mob-menu__list-item
      a(href="haval-f7.html") Haval F7
    li.mob-menu__list-item
      a(href="#") Сервис
    li.mob-menu__list-item
      a(href="#") Контакты
  .mob-menu__info
    .mob-menu__info-loc г. Москва, МКАД 14 КМ, Коммерческий пр-д, д. 8, с. 1
    a(href="tel:+74994909380").mob-menu__info-tel
      +icon('phone', '25px', '25px')
      span +7 (499) 490 93 80
  +icon('close', '40px', '40px')